.container {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    gap: 0.5rem;
}

.label {
    font-size: 0.875rem;
    font-weight: bold;
    display: flex;
    color:var(--primaryTextColor);
}

.input {
    width: 100%;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 0.75rem;
    font-size: 1rem;
    border: 1px solid var(--borderColor);
    background-color: #f9f9f9;
    transition: all 0.3s ease;
}

.input::placeholder {
    color: var(--placeholderTextColor);
    font-size: 0.9rem;
}

.input:focus{
    outline: none;
    border-color: var(--secondaryBackgroundColor);
    background-color: var(--primaryBackgroundColor);
    transform: scale(1.05);
}

.errorInput {
    border-color: red;
}

.errorMessage {
    color: red;
    font-size: 0.875rem;
    display: flex;
}
