.form {
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border: 1px solid var(--borderColor);
    border-radius: 10px;
    min-width: 25rem;
    background-color: var(--primaryBackgroundColor);
}

.loginLink {
    text-align: center;
    padding: 0.25rem;
}

.linkText {
    color: var(--primaryTextColor);
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
    transition: all 0.3s ease;
}

.linkText:hover {
    color: var(--secondaryBackgroundColor);
}
